.headers {
    height: 344px;
    background: url('./img/coffee-shop-1209863_1920.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.header {
    width: 1440px;
    margin: auto;
}
.Logo {
    display: flex;
    align-items: center
}
.logo_nav {
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.Coffee_house {
    font-family: Merienda;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    padding-right: 25px;
    text-decoration: none;
    cursor: pointer;
}
.Our_coffee {
    font-family: Merienda;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 25px;
    text-decoration: none;
    cursor: pointer;
}
.For_your_pleasure {
    font-family: Merienda;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    cursor: pointer;
}
.element_h2 {
    font-family: Merienda;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 58px;
    padding-top: 60px;
    color: #FFFFFF;
    text-align: center;
}