@keyframes ldio-9cbo5u15ytd { 0% { transform: rotate(0) } 100% { transform: rotate(360deg); } }
.ldio-9cbo5u15ytd > div {
  animation: ldio-9cbo5u15ytd 1s infinite linear;
  transform-origin: 100px 100px;
}
.ldio-9cbo5u15ytd > div div { position: absolute; }
.ldio-9cbo5u15ytd > div div:nth-child(1), .ldio-9cbo5u15ytd > div div:nth-child(2) {
  width: 164px;
  height: 164px;
  border: 24px solid;
  border-radius: 50%;
  border-color: transparent #1d0e0b #1d0e0b #1d0e0b;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 100px 100px;
}
.ldio-9cbo5u15ytd > div div:nth-child(1) {
  transform: rotate(45deg) translate(18px, 18px);
}
.ldio-9cbo5u15ytd > div div:nth-child(2) {
  transform: rotate(0deg) translate(18px, 18px);;
}
.ldio-9cbo5u15ytd > div div:nth-child(3) {
  width: 0;
  height: 0;
  border: 24px solid;
  border-color: transparent transparent transparent #1d0e0b;
  transform: translate(100px, 6px);
}
.loadingio-spinner-reload-mllnzpk4zh {
  width: 200px;
  height: 200px;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  background: none;
  padding: 50px 0px 20px 0px;
}
.ldio-9cbo5u15ytd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-9cbo5u15ytd div { box-sizing: content-box; }