.Main_bg {
    height: 959px;
    background: url('./img/desk-791178_1920.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.header {
    width: 1440px;
    margin: auto;
}
.Logo {
    display: flex;
    align-items: center
}
.logo_nav {
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.Coffee_house {
    font-family: Merienda;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    padding-right: 25px;
}
.Our_coffee {
    font-family: Merienda;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 25px;
}
.For_your_pleasure {
    font-family: Merienda;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.element_h2 {
    text-align: center;
    font-family: Merienda;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 110px;
}
.img_fluid {
    align-items: center;
    display: flex;
    width: 208px;
    margin: auto;
}
.img_fluid:after {
    content: "";
    display: flex;
    width: 60px;
    height: 1px;
    background: #FFFFFF;
    margin-left: 25px;
}
.img_fluid:before {
    content: "";
    display: flex;
    width: 60px;
    height: 1px;
    background: #FFFFFF;
    margin-right: 25px;
}
.element_p {
    text-align: center;
}
.element_one {
    font-family: Merienda;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    padding-top: 14px;
}
.element_two {
    font-family: Merienda;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.element_btn {
    display: block;
    text-align: center;
    padding-top: 9px;
}
.element_button {
    background: transparent;
    border: 1px solid #FFFFFF;
    padding: 10px 62px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-family: Merienda;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}