.panel_products {
    width: 697px;
    margin: auto;
    display: flex;
    padding-top: 70px;
}
.panel_images {
    padding-right: 79px;
}
.panel_about_our_beans h2 {
    font-family: Merienda;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    text-align: center;
}
.img_fluid {
    align-items: center;
    display: flex;
    width: 208px;
    margin: auto;
}
.img_fluid:after {
    content: "";
    display: flex;
    width: 60px;
    height: 1px;
    background: #000000;
    margin-left: 25px;
}
.img_fluid:before {
    content: "";
    display: flex;
    width: 60px;
    height: 1px;
    background: #000000;
    margin-right: 25px;
}
.panel_about_our_beans {
    width: 346px;
    font-family: Merienda;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.Line {
    margin: auto;
    margin-top: 60px;
    width: 240px;
    height: 0px;
    border: 1px solid #000000;
}